
@{
    ViewData["Title"] = "Address";
}

<h1>Address</h1>
<select id="select1">
</select>
<select id="select2">
</select>
<select id="select3">
</select>

@section Scripts{
    <script>
        const selCity = document.querySelector('#select1'),
              selDistrict = document.querySelector('#select2'),
              selRoads = document.querySelector('#select3');

    const xhr = new XMLHttpRequest();
    xhr.addEventListener('load', () => {
        //console.log(xhr.responseText);
        //console.log(JSON.parse(xhr.responseText)); 將JSON字串轉成JSON物件
        const datas = JSON.parse(xhr.responseText);
        datas.forEach((city) => {
            //將資料放進select標籤中
            const opt = new Option(city, city);
            selCity.options.add(opt);
        })
    })
        xhr.open("GET", "@Url.Content("~/api/city")");
        xhr.send();

        selCity.addEventListener('change', () => {
            //讀出使用者選擇的資料
            
            const xhr = new XMLHttpRequest();
            xhr.addEventListener("load", () => {
                const datas = JSON.parse(xhr.responseText);
                selDistrict.innerHTML = "";

                datas.forEach((district) => {
                    const opt = new Option(district, district);                    
                    selDistrict.options.add(opt);
                })
            })
            const url = '@Url.Content("~/api/district")',
                params = `?city=${selCity.options[selCity.selectedIndex].value}`;

            xhr.open("GET", url + params);
            xhr.send();            
        })

        selDistrict.addEventListener("change", () => {

            const xhr = new XMLHttpRequest();
            xhr.addEventListener("load", () => {
                const datas = JSON.parse(xhr.responseText);
                selRoads.innerHTML = "";

                datas.forEach((road) => {
                    const opt = new Option(road, road);                    
                    selRoads.options.add(opt);
                })
            })
            const url = `@Url.Content("~/api/Roads")`,
                params = `?district=${selDistrict.options[selDistrict.selectedIndex].value}`;

            xhr.open("GET", url + params);
            xhr.send();
        })
        
    </script>
}
