    
@{
    ViewData["Title"] = "HW_Register";
}

<h1>HW_Register</h1>
<form method="post" enctype="application/x-www-form-urlencoded" name="userInfo">
    <div class="form-group">
        <label for="txtemail">Name</label>
        <input type="text" class="form-control col-md-3" id="txtname" name="name">
        <small id="nameHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="txtpassword">Email</label>
        <input type="email" class="form-control col-md-6" id="txtemail" name="email" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="txtage">Age</label>
        <input type="number" class="form-control col-md-3" id="txtage" name="age">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <hr />
    <div id="div1" class="alert alert-secondary">
    </div>
</form>
@section Scripts{
    <script>
        const txtName = document.querySelector("#txtname"),
              divInfo = document.querySelector("#div1"),
              label = document.querySelector("#nameHelp");

        txtName.addEventListener("blur", () => {            
                  xhr = new XMLHttpRequest();

            xhr.addEventListener("load", () => {
                const data = xhr.responseText;

                if (txtName.value.trim() == "") {
                    label.innerHTML = "請輸入姓名!";
                }
                else {
                    if (data == "True")
                        label.innerHTML = "此姓名已被註冊!";
                    else 
                        label.innerHTML = "恭喜你，此姓名可以使用!";
                }
            })

            const params = `?name=${txtName.value}`,
                  url = '@Url.Content("~/Api/CheckAccount")'; // 注:記得加上''

            xhr.open("GET", url + params);            
            xhr.send();
        })

    </script>
}

