
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<form method="post" enctype="application/x-www-form-urlencoded" name="userInfo">
    <div class="form-group">
        <label for="txtemail">Name</label>
        <input type="text" class="form-control col-md-3" id="txtname" name="name">
    </div>
    <div class="form-group">
        <label for="txtpassword">Email</label>
        <input type="email" class="form-control col-md-6" id="txtemail" name="email" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="txtage">Age</label>
        <input type="number" class="form-control col-md-3" id="txtage" name="age">
    </div>
    <div class="custom-file ">        
        <label class="custom-file-label col-md-3" for="customFile">選擇檔案</label>
        <input type="file" class="custom-file-input col-md-3" id="customFile" name="file">
    </div>
    <hr />
    <button type="submit" class="btn btn-primary">送出</button>
    <hr />
    <div id="div1" class="alert alert-secondary">
    </div>
</form>


@section Scripts{
    
    <script>
        const btnSubmit = document.querySelector('.btn'),
              divInfo = document.querySelector('#div1'),
              fileName = document.querySelector(".custom-file-label");

    btnSubmit.addEventListener("click", (event) => {
        event.preventDefault(); // 停止預設行為 submit link
        const formData = new FormData(document.userInfo);

        // 透過fetch()上傳圖檔
        fetch('@Url.Content("~/api/Register")', {
            method:'POST',
            body:formData
        })
            .then(response => response.text())
            .then(data => divInfo.innerHTML = data);


        @*// 透過XMLHttpRequest上傳圖檔
        // step1
        const xhr = new XMLHttpRequest();

        // step3
        xhr.addEventListener("load", () => {
            const data = xhr.responseText;
            divInfo.innerHTML = `<h3>${data}</h3>`;
        })

        // step2
        xhr.open("POST", "@Url.Content("~/Api/Register")");
        xhr.send(formData);*@
    })
    </script>
}
